* {
  margin: 0;
  padding: 0;
}
main {
  width: 1200px;
  margin: 0 auto;
  border: 1px solid black;
}

.top-players,
.blogs {
  display: grid;

  grid-gap: 30px;
  margin-top: 20px;
  place-items: center;
}
.top-players {
  grid-template-columns: repeat(3, 1fr);
}
.blogs {
  grid-template-columns: repeat(2, 1fr);
}
.single-players,
.sBlogs {
  display: flex;
  align-items: center;
}
.single-players img {
  width: 80px;
  margin-right: 10px;
}
@media (max-width: 992px) {
  .top-players {
    grid-template-columns: repeat(2, 1fr);
  }
  .blogs {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (max-width: 668px) {
  .top-players {
    grid-template-columns: repeat(1, 1fr);
  }
  .sBlogs {
    display: block;
  }
}
.blogs-thumnell img {
  width: 200px;
}
