@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,600;1,500&display=swap");
* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #f3f0ff;
  font-family: "Poppins", sans-serif;
}
main {
  width: 1000px;
  margin: 0 auto;
}

section {
  background-color: white;
  padding: 1em;
  margin: 1em;
  border-radius: 5px;
}

.top-players,
.blogs,
.courses {
  display: grid;

  grid-gap: 30px;
  margin-top: 20px;
  place-items: center;
}
.top-players,
.courses {
  grid-template-columns: repeat(3, 1fr);
}
.blogs {
  grid-template-columns: repeat(2, 1fr);
}
.single-players,
.sBlogs {
  display: flex;
  align-items: center;
}
.single-players img {
  width: 80px;
  margin-right: 10px;
}
@media (max-width: 992px) {
  .top-players,
  .courses {
    grid-template-columns: repeat(2, 1fr);
  }
  .blogs,
  .courses {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (max-width: 668px) {
  .top-players {
    grid-template-columns: repeat(1, 1fr);
  }
  .sBlogs {
    display: block;
  }
}

.sBoxCourses img {
  width: 200px;
  height: 120px;
}
.blogs-thumnell img {
  width: 200px;
  margin-right: 20px;
}
.courseRatings .filled {
  color: darkgoldenrod;
}
.courseRatings .unfilled {
  color: lightgray;
}
.courseInfo {
  display: flex;
}
.duration {
  margin-left: 20px;
}
